<nav class="breadcrums breadcrums__container" aria-label="Breadcrumb">
        <ol class="breadcrums__list">
          <li class="breadcrums__item"><a href="#" class="breadcrums__page" title="Home">Home</a></li>
          <li class="breadcrums__item"><a href="#" class="breadcrums__page">Women</a></li>
          <li class="breadcrums__item"><span class="breadcrums__page breadcrums__page--current" aria-current="page">White unisex t-shirt</span></li>
        </ol>
</nav>