.container {
  max-width: var(--width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 3.875rem;
}

.product__container {
  margin-top: 1.0625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

/* ------------------------------ product-image ---------------------------------- */
.product__image {
  margin: 0 auto;
  padding-left: 4rem;
}

/* ------------------------------- product-info  ----------------------------------------*/
.product__info {
  padding-left: 4rem;
  padding-right: 7.5625rem;
}

.product-info__container {
  max-width: 25.5rem;
}

.product__header {
  margin-bottom: 3rem;
}

.product__heading {
  margin-bottom: 1.5rem;
  color: var(--text-color-primary);
}

.heading--xxl {
  font-size: var(--text-xxl);
  line-height: 1.2273;
  letter-spacing: 0.01em;
}

.product__price {
  color: var(--text-color-primary);
  letter-spacing: 0.01em;
}
.price__description {
  margin-top: 1.5rem;
}
.price-description {
  color: var(--text-color-secondary);
}

/* --------------------------------- product-info__form -------------------------------- */

.form__fieldset + .form__fieldset {
  margin-top: 1.5rem;
}

/* --------------------------------- radio group --------------------------- */

.radio-group__legend {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--text-color-primary);
}

.radio-group__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.radio {
  position: relative;
  min-width: 2.5rem;
  min-height: 2.5rem;
  background-color: var(--background-color-secondary);
}

.radio__input:disabled + .radio__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    transparent 48.5%,
    var(--border-color-primary) 48.5% 51.5%,
    transparent 51.5%
  );
  cursor: no-drop;
}

.radio__label {
  display: block;

  padding-left: 0.125rem;
  padding-right: 0.125rem;

  width: 100%;
  height: 100%;

  border: 0.0625rem solid var(--border-color-primary);
  font-weight: 500;
  cursor: pointer;
}

.radio-text .radio__label,
.radio-color .radio__label {
  // display: block;
  // padding-top: 0.5625rem;
  // padding-bottom: 0.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--text-color-primary);
}

.radio__input:checked + .radio__label {
  border-color: var(--border-color-secondary);
}

.radio-text .radio__input:disabled + .radio__label {
  color: var(--text-color-disabled);
  background-color: var(--background-color-disabled);
  border-color: transparent;
  cursor: no-drop;
}

.radio-color .radio__label {
  border-color: transparent;
  padding: 0.125rem;
}

.radio-color .radio__label:hover {
  border-color: var(--border-color-primary);
}

.radio__input:focus + .radio__label {
  outline: 0.125rem solid var(--border-color-secondary);
  outline-offset: 0.125rem;
}

.radio-label-color {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid var(--border-color-primary);
}

.label-discription-color {
  text-transform: capitalize;
}

/* ----------------------------- quantity ------------------------------- */

.quantity__legend {
  margin-bottom: 0.75rem;
  letter-spacing: 0.01em;
  color: var(--text-color-primary);
}

.quantity__controls {
  display: flex;
  max-width: 7.5rem;
}

.quantity__input {
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: none;
  border-top: 0.0625rem solid var(--border-color-primary);
  border-bottom: 0.0625rem solid var(--border-color-primary);
  flex-grow: 1;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  background: transparent;
  transition: all 0.3s;
}

.quantity__input:hover {
  border-color: var(--border-color-secondary);
}

.quantity__input:hover ~ .quantity__button--decrease {
  border-right-color: var(--border-color-hover);
}

.quantity__input:hover ~ .quantity__button--increase {
  border-left-color: var(--border-color-hover);
}

.quantity__input:active {
  border: none;
}

.quantity__input::-webkit-inner-spin-button {
  display: none;
}

.quantity__button {
  position: relative;
  padding: 0;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: 0.0625rem solid var(--border-color-primary);
  color: var(--text-color-secondary);
  background: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.quantity__button::after,
.quantity__button::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 0.125rem;
  margin-top: -0.0625rem;
  margin-left: -0.3125rem;
  border: 0.0625rem solid currentColor;
}

.quantity__button:hover {
  border-color: var(--border-color-secondary);
  color: var(--button-color-hover);
  background: var(--baclground);
}

.quantity__button--decrease {
  order: -1;
}

.quantity__button--increase::after {
  transform: rotate(90deg);
}

.form__button {
  display: flex;
  flex-flow: column;
  gap: 0.625rem;
  padding-top: 2.5rem;
}

.button {
  position: relative;
  width: 100%;
  min-height: 3rem;
  border: 0.0625rem solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.0625;
  text-align: center;
  letter-spacing: 0.16em;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.45s ease-in-out, border 0.45s ease-in-out;
}

.button--secondary {
  color: var(--button-text-color-primary);
  border-color: var(--border-color-secondary);
  background-color: var(--button-background-color-secondary);
}

.button--secondary:hover {
  color: var(--button-text-color-secondary);
  background-color: var(--button-background-color-primary);
  border-color: var(--button-border-color-primary);
}

.button:focus {
  outline: 0.125rem solid var(--border-color-secondary);
  outline-offset: 0.1875rem;
}

.button--primary {
  color: var(--button-text-color-secondary);
  border-color: var(--button-border-color-primary);
  background-color: var(--button-background-color-primary);
}

.button--primary:hover {
  color: var(--button-text-color-primary);
  border-color: var(--border-color-secondary);
  background-color: var(--button-background-color-secondary);
}

.button--primary[disabled]:hover,
.button--secondary[disabled] {
  color: var(--button-text-color-primary);
  border-color: var(--border-color-secondary);
  background-color: var(--button-background-color-disabled);
  cursor: no-drop;
}

.form-out-stock {
  text-align: center;
  color: var(--text-error-added-color);
}

/* -------------------------- product footer ---------------------------------------------- */

.product__footer {
  padding-top: 3rem;
}

.product__footer p {
  font-size: 1.125rem;
  line-height: calc(22 / 18);
  text-align: left;
  letter-spacing: -0.01em;
  color: var(--text-color-primary);
}

.product__footer p + p::before {
  content: '';
  display: block;
  height: 1em;
}

/* ---------------------------------------- product description -------------------------------- */
.product__description {
  width: 56.625rem;
  padding-left: 5.5625rem;
  padding-right: 5.5625rem;
}

.accordion__section {
  border-top: 0.0625rem solid var(--border-color-primary);
  border-bottom: 0.0625rem solid var(--border-color-primary);
  overflow: hidden;
}

.accordion__section + .accordion__section {
  border-top: none;
}

.accordion-section {
  color: var(--text-color-primary);
  letter-spacing: 0.01em;
}

.accordion-section__heading {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.heading--xl {
  font-size: var(--text-xl);
  line-height: 1.25;
}

.accordion-section__button {
  font: inherit;
  color: inherit;
}

.accordion-section__button::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.accordion-section__icon {
  position: absolute;
  right: 0;
  top: calc(50% - 0.375rem);
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
}

.accordion-section__icon::before,
.accordion-section__icon::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.accordion-section__icon::before {
  width: 11px;
  height: 1px;
  opacity: 0;
}

.accordion-section__icon::after {
  width: 1px;
  height: 11px;
}

.accordion-section__button[aria-expanded='false']
  .accordion-section__icon::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  opacity: 1;
}

.accordion-section__button[aria-expanded='true']
  .accordion-section__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.accordion-section__content {
  overflow: hidden;
  // height: 0;
}

.accordion-content-wrap {
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

.accordion-content-wrap p + p {
  padding-top: 0.5rem;
}

.accordion-content-wrap li + li {
  padding-top: 0.5rem;
}
/* =========================== recommendation =============================== */
.section__recommendation {
  padding-left: 1rem;
  padding-right: 1rem;
}

.recommendation__heading {
  padding-top: 6.25rem;
  padding-bottom: 4rem;
  text-align: center;
}

.title-heading--recommendation {
  color: var(--text-heading-recommendation-color);
}

.recommendation__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(248px));
  justify-content: center;
  gap: 4rem;
}

.recommendation-product {
  position: relative;
}

.recommendation-product__image {
  width: 248px;
  height: 368px;
  position: relative;
  overflow: hidden;
}

.image__recommendation-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommendation-product__heading {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--text-color-primary);
}

.radio--small {
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.radio--small .radio {
  min-width: 1rem;
  min-height: 1rem;
}

.recommendation-product__price {
  margin-top: 0.5rem;
  text-align: center;
  color: var(--text-color-primary);
}

.recommendation-product__tags {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 1;
}

.tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem 0.75rem;
}

.tags__item {
  padding: 0.1875rem 0.3125rem 0.25rem 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.2308;
}

.tags__item--sold-out {
  background-color: var(--background-color-secondary);
}
