.header {
  position: sticky;
  top: 0px;
  border-bottom: 0.0625rem solid var(--border-color-primary);
  background-color: var(--background-color-header);
  z-index: 2;
}
.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2.09375rem;
  padding-bottom: 2.09375rem;
}
.skip-to {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.3125rem;
}

.skip-to:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu__item {
  max-width: 6rem;
  max-height: 2.5rem;

  overflow: hidden;
}

.menu__link {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
}

/* --------------------------------------- menu-burger -------------------------------- */
.menu-burger__wrap {
  display: none;
}

.menu-burger {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.5s;
  overflow: hidden;
  background-color: #f5f5f5;
  z-index: 1;
}

.menu-burger.active {
  transform: translateX(0);
}

.menu-burger__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.menu-burger__link {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.menu-burger-button__burger {
  position: relative;
  width: 1.25rem;
  height: 1.5rem;
  cursor: pointer;
  overflow: hidden;
}

.menu-burger-button__burger span {
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: var(--button-burger-background-color);
  top: 50%;
  left: 0;
  margin-top: -0.325rem;
}

.menu-burger-button__burger span:nth-of-type(2) {
  top: calc(50% + 0.375rem);
}

.menu-burger-button__burger span:nth-of-type(3) {
  top: calc(50% - 0.375rem);
}

.menu-burger__button {
  position: relative;
  z-index: 10;
}

.menu-burger__button::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.8rem;
  left: -0.875rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.menu-burger-button__burger.active span {
  background-color: var(--button-burger-background-color-active);
}

.menu-burger-button__burger.active span:nth-of-type(1) {
  display: none;
}

.menu-burger-button__burger.active span:nth-of-type(2) {
  top: 50%;

  transform: rotate(45deg);
}

.menu-burger-button__burger.active span:nth-of-type(3) {
  top: 50%;

  transform: rotate(-45deg);
}

.menu-burger-user {
  display: none;
}

.menu-burger-user__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu-burger-user__item {
  position: relative;
  max-width: 6rem;
  max-height: 2.5rem;
}

.menu-burger-user__svg {
  width: 1rem;
  height: 1rem;
}

.menu-burger-user__item .cart-preview__quantity {
  position: absolute;
  top: 0;
  right: -1.3rem;
  font-size: 0.7rem;
  font-weight: 500;
}
