.header {
  position: sticky;
  z-index: 3;

  top: -0;

  border-bottom: 0.0625rem solid var(--border-color-primary);

  background-color: var(--background-color-header);
}

.header__container {
  position: relative;

  padding: 2.09375rem 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

// ----------------------skip-to-------------------

.skip-to:focus,
.skip-to {
  position: absolute;

  top: 0.5rem;
  left: 0.5rem;

  padding: 0.3125rem;

  transition: var(--transition);
}

.skip-to:hover,
.skip-to:focus {
  color: var(--skip-to-text-color-hover);
  font-weight: 700;
  background-color: var(--skip-to-background-color-hover);
  box-shadow: var(--skip-to-box-shadow-active);
}

.skip-to:active {
  top: 0.6rem;
  box-shadow: none;
}

.skip-to:not(:focus) {
  position: absolute;

  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ---------------------for skip-to-------------------------

.main,
.product-info {
  position: relative;

  margin-top: -5.3125rem;

  border-top: 5.3125rem solid transparent;

  background-clip: padding-box;
  background-clip: padding;
  background-clip: padding-box;
}

.main::before,
.product-info::before {
  content: '';
  position: absolute;

  top: -0.0625rem;
  left: 0;
  right: 0;

  border-top: 0.0625rem solid transparent;
}

// ------------------------------------ menu ------------------

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu__item {
  max-width: 6rem;
  max-height: 2.5rem;
}

.menu__link {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.header__logo {
  position: absolute;

  left: 50%;
  top: 1.5rem;

  transform: translateX(-50%);
}

/* --------------------------------------- menu-burger -------------------------------- */
.menu-burger__wrap {
  display: none;
}

.menu-burger {
  position: fixed;
  z-index: 1;

  top: 0;
  right: 0;

  display: flex;

  overflow: hidden;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transform: translateX(100%);
  transition: transform var(--menu-burger-transition-time);

  background-color: var(--menu-burger-background-color);
}

.menu-burger.active {
  transform: translateX(0);
}

.menu-burger__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.menu-burger__link {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.menu-burger-button__burger {
  position: relative;

  width: 1.25rem;
  height: 1.5rem;

  cursor: pointer;
  overflow: hidden;
}

.menu-burger-button__burger span {
  position: absolute;

  top: 50%;
  left: 0;

  margin-top: -0.325rem;

  width: 1.25rem;
  height: 0.125rem;

  background-color: var(--button-burger-background-color);
}

.menu-burger-button__burger span:nth-of-type(2) {
  top: calc(50% + 0.375rem);
}

.menu-burger-button__burger span:nth-of-type(3) {
  top: calc(50% - 0.375rem);
}

.menu-burger__button {
  position: relative;
  z-index: 10;
}

.menu-burger__button::before {
  content: '';
  position: absolute;

  top: -1.8rem;
  left: -0.875rem;

  width: 3rem;
  height: 3rem;

  display: block;

  cursor: pointer;
}

.menu-burger-button__burger.active span {
  background-color: var(--button-burger-background-color-active);
}

.menu-burger-button__burger.active span:nth-of-type(1) {
  display: none;
}

.menu-burger-button__burger.active span:nth-of-type(2) {
  top: 50%;

  transform: rotate(45deg);
}

.menu-burger-button__burger.active span:nth-of-type(3) {
  top: 50%;

  transform: rotate(-45deg);
}

.menu-burger-user {
  display: none;
}

.menu-burger-user__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu-burger-user__item {
  position: relative;

  max-width: 6rem;
  max-height: 2.5rem;
}

.menu-burger-user__svg {
  width: 1rem;
  height: 1rem;
}

.menu-burger-user__item .cart-preview__quantity {
  position: absolute;

  top: 0;
  right: -1.3rem;

  font-size: 0.7rem;
  font-weight: 500;
}
