@import './base/root';
@import './base/base';
@import './sections/alternate-header';
@import './snippets/alternate-breadcrumbs';
@import './sections/alternate-main-product';
@import './snippets/alternate-radio-button-text';
@import './snippets/alternate-radio-button-color';
@import './sections/component/quantity';
@import './sections/component/accordion';
@import './snippets/alternate-product-card';
@import './sections/alternate-footer';
@import './base/madia';
