@import './base/root.scss';
@import './base/base.scss';
@import './sections/alternate-header.scss';
@import './snippets/alternate-breadcrumbs.scss';
@import './sections/alternate-main-product.scss';
@import './snippets/alternate-radio-button-text.scss';
@import './snippets/alternate-radio-button-color.scss';
@import './sections/component/quantity.scss';
@import './sections/component/accordion.scss';
@import './snippets/alternate-product-card.scss';
@import './sections/alternate-footer.scss';
@import './base/madia.scss';
