@import './sections/root.scss';
@import './sections/base.scss';
@import './sections/alternate-header.scss';
@import './snippets/alternate-breadcrumbs.scss';
@import './sections/alternate-main-product.scss';
@import './snippets/alternate-radio-button-text.scss';
@import './snippets/alternate-radio-button-color.scss';
@import './snippets/alternate-product-card.scss';
@import './sections/alternate-footer.scss';
@import './sections/madia.scss';
