<article class='section__recommendation recommendation container'>
  <span id='ally_tags_label' class='visually-hidden' aria-hidden='true'>
    {{- 'products.product.product_tags' | t -}}
  </span>
  <div class='recommendation__container'>
    <h2 class='recommendation__heading heading--xxl title-heading--recommendation'>
      {{- section.settings.heading | escape -}}
    </h2>
    {%- if section.settings.collection.products.size > 0 -%}
      <ul class='recommendation__list' role='list'>
        {%- for block in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li class='recommendation__item'>
            {%- render 'alternate-product-card', product: block, forloop: forloop -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</article>

{%- schema -%}
{
  "name": "t:sections.alternate-product-recommendations.name",
  "tag": "section",

  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.alternate-product-recommendations.settings.heading_label",
      "default": "You may also like"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.alternate-product-recommendations.settings.collection_label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 4,
      "max": 6,
      "step": 1,
      "label": "t:sections.alternate-product-recommendations.settings.products_to_show_label",
      "default": 4
    }
  ],

  "presets": [
    {
      "name": "t:sections.alternate-product-recommendations.presets.name"
    }
  ]
}
{%- endschema -%}
