/* @import url(./root.css); */
:root {
  --width: 90rem;

  --pallete-mirage: #1a1f29;
  --pallete-shuttle-gray: #5e626b;
  --pallete-manatee: #929499;
  --pallete-silver: #cccccc;
  --pallete-mercury: #e5e5e5;
  --pallete-white: #ffffff;
  --pallete-deep-koamaru: #171c8f;
  --pallete-Concrete: #f2f2f2;

  --pallete-black: #000000;
  --pallete-bombay: #aeaeb0;
  --pallete-biloba-flower: #ba9be6;
  --pallete-sea-pink: #e9a0a7;
  --pallete-apricot-peach: #f8cab1;
  --pallete-antique-brass: #c88252;

  --color-social-link: var(--pallete-shuttle-gray);

  --color-text-primary: var(--pallete-mirage);
  --color-text-primary-activ: var(--pallete-manatee);
  --color-text-secondary: var(--pallete-shuttle-gray);
  --color-text-disabled: var(--pallete-silver);

  --color-border-primary: var(--pallete-silver);
  --color-border-secondary: var(--pallete-mirage);
  --background-color-primary: var(--pallete-mercury);
  --background-color-secondary: var(--pallete-white);
  --background-color-header: var(--pallete-white);
  --background-color-disabled: var(--pallete-Concrete);
  --color-slash: var(--pallete-manatee);
  --button-background-color-primary: var(--pallete-white);
  --button-background-color-secondary: var(--pallete-deep-koamaru);
  --button-text-color-primary: var(--pallete-white);
  --button-text-color-secondary: var(--pallete-mirage);
  --button-border-color-primary: var(--pallete-silver);
  --button-border-color-secondary: var(--pallete-deep-koamaru);

  --text-xxl: 1.375rem;
  --text-xl: 1rem;
  --text-lg: 0.8125rem;
  --text-heading-recommendation-color: var(--pallete-deep-koamaru);
}
/* @import url(./reset.css); */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text-primary);
}

a:active,
a:hover {
  outline: 0;
}

:active {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: top;
}

button {
  margin: 0;
  padding: 0;
  overflow: visible;
  background: none;
  border: 0px;
  border-radius: 0;
}

input {
  outline: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  /* border-color: transparent; */
}

.address {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

legend {
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =================================== header ===========================================*/
.header {
  position: sticky;
  top: 0px;
  border-bottom: 0.0625rem solid var(--color-border-primary);
  background-color: var(--background-color-header);
  z-index: 2;
}
.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2.09375rem;
  padding-bottom: 2.09375rem;
}

.skip-to {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.3125rem;
}

.skip-to:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu__link {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
}

/* ====================================== breadcrumps ================================ */

.breadcrums__container {
  padding-top: 1.25rem;
  padding-right: 3.75rem;
  padding-bottom: 1.25rem;
  padding-left: 3.75rem;
}

.breadcrums__list {
  display: inline-flex;
  flex-wrap: wrap;
}

.breadcrums__list li + li::before {
  content: "";
  display: inline-block;
  margin-left: 0.8125rem;
  margin-right: 0.625rem;
  transform: rotate(25deg);
  border-right: 0.1em solid var(--color-slash);

  height: 0.875em;
}

.breadcrums__item {
  display: flex;
  font-size: 0.75rem;
  line-height: 0.9375;
}

.breadcrums__page {
  color: var(--color-text-primary);
}

.breadcrums__page--current {
  color: var(--color-text-primary-activ);
  cursor: text;
}

/* =============================== product ====================================== */

.container {
  max-width: var(--width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product {
  display: flex;

  flex-wrap: wrap;
  /* gap: 4rem; */
  row-gap: 3.875rem;
}

.product__container {
  margin-top: 1.0625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

/* ------------------------------ product-image ---------------------------------- */
.product__image {
  /* max-width: calc(100vw - 34rem); */
  width: 51.0625rem;
  padding-left: 4rem;

  justify-self: center;
}

.image__container {
  max-width: 473px;
  min-height: 707px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.image__product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------- product-info  ----------------------------------------*/
.product__info {
  padding-left: 4rem;
  padding-right: 4rem;
}

.product-info__container {
  width: 25.5rem;
}
.product__header {
  margin-bottom: 3rem;
}
.product__heading {
  margin-bottom: 1.5rem;
  color: var(--color-text-primary);
}
.heading--xxl {
  font-size: var(--text-xxl);
  line-height: 1.2273;
  letter-spacing: 0.01em;
}
.product__price {
  margin-bottom: 1.5rem;
  color: var(--color-text-primary);
  letter-spacing: 0.01em;
}

.price-description {
  color: var(--color-text-secondary);
}

/* ---------------------------------product-info__form ----------------------------- */

.form__fieldset + .form__fieldset {
  margin-top: 1.5rem;
}

/* ------------------------- radio group --------------------------- */

.radio-group__legend {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--color-text-primary);
}
.radio-group__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.radio {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--background-color-secondary);
}

.radio__input:disabled + .radio__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, transparent 48.5%, var(--color-border-primary) 48.5% 51.5%, transparent 51.5%);
  cursor: no-drop;
}

.radio__label {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid var(--color-border-primary);
  font-weight: 500;
  cursor: pointer;
}

.radio-text .radio__label {
  display: block;
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
}

.radio__input:checked + .radio__label {
  border-color: var(--color-border-secondary);
}
.radio-text .radio__input:disabled + .radio__label {
  color: var(--color-text-disabled);
  background-color: var(--background-color-disabled);
  border-color: transparent;
  cursor: no-drop;
}

.radio-color .radio__label {
  border-color: transparent;
  padding: 0.125rem;
}

.radio-color .radio__label:hover,
.radio-color .radio__label:focus {
  border-color: var(--color-border-primary);
}

.radio__image {
  width: 100%;
  height: 100%;
}
/* ----------------------------- quantity ------------------------------- */

.quantity__legend {
  margin-bottom: 0.75rem;
  letter-spacing: 0.01em;
  color: var(--color-text-primary);
}
.quantity__controls {
  display: flex;
  max-width: 7.5rem;
}
.quantity__input {
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: none;
  border-top: 0.0625rem solid var(--color-border-primary);
  border-bottom: 0.0625rem solid var(--color-border-primary);
  flex-grow: 1;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  background: transparent;
  transition: all 0.3s;
}
.quantity__input:hover {
  border-color: var(--color-border-secondary);
}

.quantity__input:hover ~ .quantity__button--decrease {
  border-right-color: var(--border-color-hover);
}

.quantity__input:hover ~ .quantity__button--increase {
  border-left-color: var(--border-color-hover);
}
.quantity__input:active {
  border: none;
}

.quantity__input::-webkit-inner-spin-button {
  display: none;
}
.quantity__button {
  position: relative;
  padding: 0;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: 0.0625rem solid var(--color-border-primary);
  color: var(--color-text-secondary);
  background: transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.quantity__button::after,
.quantity__button::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 0.125rem;
  margin-top: -0.0625rem;
  margin-left: -0.3125rem;
  border: 0.0625rem solid currentColor;
}
.quantity__button:hover {
  border-color: var(--color-border-secondary);
  color: var(--button-color-hover);
  background: var(--baclground);
}
.quantity__button--decrease {
  order: -1;
}

.quantity__button--increase::after {
  transform: rotate(90deg);
}
.form__button {
  display: flex;
  flex-flow: column;
  gap: 0.625rem;
  padding-top: 2.5rem;
}
.button {
  position: relative;
  width: 100%;
  min-height: 3rem;
  border: 0.0625rem solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.0625;
  text-align: center;
  letter-spacing: 0.16em;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.45s ease-in-out, border 0.45s ease-in-out;
}

.button--secondary {
  color: var(--button-text-color-primary);
  border-color: var(--color-border-secondary);
  background-color: var(--button-background-color-secondary);
}

.button--secondary:hover,
.button--secondary:focus {
  color: var(--button-text-color-secondary);
  background-color: var(--button-background-color-primary);
  border-color: var(--button-border-color-primary);
}
.button--primary {
  color: var(--button-text-color-secondary);
  border-color: var(--button-border-color-primary);
  background-color: var(--button-background-color-primary);
}

.button--primary:hover,
.button--primary:focus {
  color: var(--button-text-color-primary);
  border-color: var(--color-border-secondary);
  background-color: var(--button-background-color-secondary);
}

/* -------------------------- product footer */

.product__footer {
  padding-top: 3rem;
}
.product__footer p {
  font-size: 1.125rem;
  line-height: calc(22 / 18);
  text-align: left;
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
}

.product__footer p + p::before {
  content: "";
  display: block;
  height: 1em;
}

/* ---------------------------------------- product description -------------------------------- */

.product__description {
  width: 51.0625rem;
  padding-left: 5.5625rem;
}

.accordion__section {
  border-top: 0.0625rem solid var(--color-border-primary);
  border-bottom: 0.0625rem solid var(--color-border-primary);
  overflow: hidden;
}
.accordion__section + .accordion__section {
  border-top: none;
}

.accordion-section {
  color: var(--color-text-primary);
  letter-spacing: 0.01em;
}
.accordion-section__heading {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.heading--xl {
  font-size: var(--text-xl);
  line-height: 1.25;
}
.accordion-section__button {
  font: inherit;
  color: inherit;
}
.accordion-section__button::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.accordion-section__icon {
  position: absolute;
  right: 0;
  top: calc(50% - 0.375rem);
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
}

.accordion-section__icon::before,
.accordion-section__icon::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.accordion-section__icon::before {
  width: 11px;
  height: 1px;
  opacity: 0;
}

.accordion-section__icon::after {
  width: 1px;
  height: 11px;
}

.accordion-section__button[aria-expanded="false"] .accordion-section__icon::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  opacity: 1;
}
.accordion-section__button[aria-expanded="true"] .accordion-section__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.accordion-section__content {
  overflow: hidden;
  height: 0;
}

.accordion-content-wrap {
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

.accordion-content-wrap p + p {
  padding-top: 0.5rem;
}

.accordion-content-wrap li + li {
  padding-top: 0.5rem;
}

/* =========================== recommendation =============================== */
.section__recommendation {
  padding-left: 1rem;
  padding-right: 1rem;
}

.recommendation__heading {
  padding-top: 6.25rem;
  padding-bottom: 4rem;
  text-align: center;
}

.title-heading--recommendation {
  color: var(--text-heading-recommendation-color);
}
.recommendation__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(248px));
  justify-content: center;
  gap: 4rem;
}

.recommendation-product {
  position: relative;
}
.recommendation-product__image {
  width: 248px;
  height: 368px;
  position: relative;
  overflow: hidden;
}

.image__recommendation-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommendation-product__heading {
  margin-top: 1.25rem;
  text-align: center;
  color: var(--color-text-primary);
}

.recommendation-product__fieldset {
  margin-top: 0.5rem;
}

.radio--small {
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.radio--small .radio {
  width: 1rem;
  height: 1rem;
}

.recommendation-product__price {
  margin-top: 0.5rem;
  text-align: center;
  color: var(--color-text-primary);
}

.recommendation-product__tags {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 1;
}
.tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem 0.75rem;
}
.tags__item {
  padding: 0.1875rem 0.3125rem 0.25rem 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.2308;
}
.tags__item--sold-out {
  background-color: var(--background-color-secondary);
}

/* =========================== footer ============================= */

.footer__container {
  padding-left: 5.5rem;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  column-gap: 9.75rem;
}

.footer__heading {
  padding-top: 6.8125rem;
}
.footer-heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text-primary);
}
.heading--lg {
  font-size: var(--text-lg);
  line-height: 0.7222;
}
.address {
  padding-top: 1.5rem;
}
.address__title {
  font-size: 1rem;
  line-height: 2;
  color: var(--color-text-secondary);
}

.address__social {
  margin-top: 1.1875rem;
}
.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.625rem;
}
.social__list {
  padding: 0 0.5rem;
}
.social__item {
  height: 1.1875rem;
  border: none;
}
.cocial__link {
  color: var(--color-social-link);
}

.footer-navigation {
  padding-top: 1.5rem;
}
.footer-navigation__item {
  font-size: 1rem;
  line-height: 2;
}
.footer-navigation__link {
  color: var(--color-text-secondary);
}

.footer__copyright {
  padding-top: 5.75rem;
  padding-bottom: 2.0625rem;
}
