.radio-color .radio__label {
  padding: 0.125rem;

  border-color: transparent;
}

.radio-color .radio__label:hover {
  border-color: var(--border-color-primary);
}

.radio-label-color {
  width: 100%;
  height: 100%;

  border: 0.0625rem solid var(--border-color-primary);

  color: transparent;
}

.label-discription-color {
  text-transform: capitalize;
}
