.recommendation__heading {
  padding-top: 6.25rem;
  padding-bottom: 4rem;

  text-align: center;
}

.title-heading--recommendation {
  color: var(--text-heading-recommendation-color);
}

.recommendation__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(248px));
  justify-content: center;
  gap: 4rem;
}

.recommendation-product {
  position: relative;
}

.recommendation-product__image {
  position: relative;

  width: 248px;
  height: 368px;
}

.image__recommendation-product {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);

  object-fit: cover;
}

.recommendation-product__heading {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;

  text-align: center;

  color: var(--text-color-primary);
}

.recommendation-product__link::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 80%;

  transition: var(--transition);
}

.recommendation-product__link:hover::before {
  box-shadow: var(--box-shadow);
}

.recommendation-product__link:active::before {
  box-shadow: none;
}

.radio--small {
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.radio--small .radio {
  width: 1rem;
  height: 1rem;
}

.recommendation-product__price {
  margin-top: 0.5rem;

  text-align: center;
  color: var(--text-color-primary);
}

.recommendation-product__tags {
  position: absolute;

  top: 0;
  left: 0;

  max-width: 100%;

  z-index: 1;
}

.tags {
  padding: 0.5rem 0.75rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tags__item {
  padding: 0.1875rem 0.3125rem 0.25rem 0.3125rem;

  font-size: 0.8125rem;
  line-height: 1.2308;
}

.tags__item--sold-out {
  background-color: var(--background-color-secondary);
}
