.radio-group__legend {
  margin-bottom: 0.75rem;

  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;

  color: var(--text-color-primary);
}

.radio-group__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.radio {
  position: relative;

  width: 2.5rem;
  height: 2.5rem;

  background-color: var(--background-color-secondary);
}

.radio__input:disabled + .radio__label::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom right,
    transparent 48.5%,
    var(--border-color-primary) 48.5% 51.5%,
    transparent 51.5%
  );

  cursor: no-drop;
}

.radio__label {
  padding-left: 0.125rem;
  padding-right: 0.125rem;

  width: 100%;
  height: 100%;

  display: block;

  font-weight: 500;

  border: 0.0625rem solid var(--border-color-primary);
  cursor: pointer;
  overflow: hidden;
}

.radio-text .radio__label,
.radio-color .radio__label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -0.01em;

  color: var(--text-color-primary);
}

.radio__input:checked + .radio__label {
  border-color: var(--border-color-secondary);
}

.radio-text .radio__input:disabled + .radio__label {
  border-color: transparent;
  color: var(--text-color-disabled);

  background-color: var(--background-color-disabled);
  cursor: no-drop;
}

.radio__input:focus + .radio__label {
  outline: 0.125rem solid var(--border-color-secondary);
  outline-offset: 0.125rem;
}
