:root {
  --width: 90rem;

  --pallete-mirage: #1a1f29;
  --pallete-shuttle-gray: #5e626b;
  --pallete-manatee: #929499;
  --pallete-silver: #cccccc;
  --pallete-mercury: #e5e5e5;
  --pallete-white: #ffffff;
  --pallete-deep-koamaru: #171c8f;
  --pallete-Concrete: #f2f2f2;
  --pallete-red: #ff0000;
  --pallete-black: #000000;
  --pallete-bombay: #aeaeb0;
  --pallete-biloba-flower: #ba9be6;
  --pallete-sea-pink: #e9a0a7;
  --pallete-apricot-peach: #f8cab1;
  --pallete-antique-brass: #c88252;

  --social-link-color: var(--pallete-shuttle-gray);

  --skip-to-background-color-hover: var(--pallete-mirage);
  --skip-to-text-color-hover: var(--pallete-white);
  --skip-to-box-shadow-active: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --text-color-primary: var(--pallete-mirage);
  --text-color-primary-activ: var(--pallete-manatee);
  --text-color-secondary: var(--pallete-shuttle-gray);
  --text-color-disabled: var(--pallete-silver);
  --text-error-added-color: var(--pallete-red);
  --text-heading-carousel-color: var(--pallete-deep-koamaru);

  --border-color-primary: var(--pallete-silver);
  --border-color-secondary: var(--pallete-mirage);

  --background-color-primary: var(--pallete-mercury);
  --background-color-secondary: var(--pallete-white);
  --background-color-header: var(--pallete-white);
  --background-color-disabled: var(--pallete-Concrete);

  --slash-color: var(--pallete-manatee);

  --button-burger-background-color: var(--pallete-mirage);
  --button-burger-background-color-active: var(--pallete-shuttle-gray);
  --button-background-color-primary: var(--pallete-white);
  --button-background-color-secondary: var(--pallete-deep-koamaru);
  --button-background-color-disabled: var(--pallete-silver);
  --button-text-color-primary: var(--pallete-white);
  --button-text-color-secondary: var(--pallete-mirage);
  --button-border-color-primary: var(--pallete-silver);
  --button-border-color-secondary: var(--pallete-deep-koamaru);

  --input-button-color-hover: var(--pallete-mirage);
  --input-border-color-hover: var(--pallete-mirage);
  --input-button-border-color-disabled: var(--pallete-silver);
  --input-button-color-disabled: var(--pallete-silver);
  --input-background-color-hover: var(--pallete-mercury);
  --input-background-color: var(--pallete-white);

  --text-xxl: 1.375rem;
  --text-xl: 1rem;
  --text-lg: 0.8125rem;
}
