:root {
  --width: 90rem;
  --pallete-mirage: rgb(26, 31, 41);
  --pallete-shuttle-gray: rgb(94, 98, 107);
  --pallete-manatee: rgb(146, 148, 153);
  --pallete-silver: rgb(204, 204, 204);
  --pallete-mercury: rgb(229, 229, 229);
  --pallete-white: rgb(255, 255, 255);
  --pallete-deep-koamaru: rgb(23, 28, 143);
  --pallete-Concrete: rgb(242, 242, 242);
  --pallete-red: rgb(255, 0, 0);
  --pallete-black: rgb(0, 0, 0);
  --pallete-bombay: rgb(174, 174, 176);
  --pallete-biloba-flower: rgb(186, 155, 230);
  --pallete-sea-pink: rgb(233, 160, 167);
  --pallete-apricot-peach: rgb(248, 202, 177);
  --pallete-antique-brass: rgb(200, 130, 82);
  --pallete-wild-sand: rgb(245, 245, 245);
  --pallete-indigo: rgb(92, 106, 196);
  --social-link-color: var(--pallete-shuttle-gray);
  --skip-to-background-color-hover: var(--pallete-mirage);
  --skip-to-text-color-hover: var(--pallete-white);
  --skip-to-box-shadow-active: 0 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --text-color-primary: var(--pallete-mirage);
  --text-color-secondary: var(--pallete-shuttle-gray);
  --text-color-disabled: var(--pallete-silver);
  --text-error-added-color: var(--pallete-red);
  --text-heading-carousel-color: var(--pallete-deep-koamaru);
  --text-link-color-active: var(--pallete-black);
  --border-color-primary: var(--pallete-silver);
  --border-color-secondary: var(--pallete-mirage);
  --background-color-primary: var(--pallete-mercury);
  --background-color-secondary: var(--pallete-white);
  --background-color-header: var(--pallete-white);
  --background-color-disabled: var(--pallete-Concrete);
  --slash-color: var(--pallete-manatee);
  --button-burger-background-color: var(--pallete-mirage);
  --button-burger-background-color-active: var(--pallete-shuttle-gray);
  --button-background-color-primary: var(--pallete-white);
  --button-background-color-secondary: var(--pallete-deep-koamaru);
  --button-background-color-disabled: var(--pallete-silver);
  --button-text-color-primary: var(--pallete-white);
  --button-text-color-secondary: var(--pallete-mirage);
  --button-border-color-primary: var(--pallete-silver);
  --button-border-color-secondary: var(--pallete-deep-koamaru);
  --input-button-color-hover: var(--pallete-mirage);
  --input-border-color-hover: var(--pallete-mirage);
  --input-button-border-color-disabled: var(--pallete-silver);
  --input-button-color-disabled: var(--pallete-silver);
  --input-background-color-hover: var(--pallete-mercury);
  --input-background-color: var(--pallete-white);
  --menu-burger-background-color: var(--pallete-wild-sand);
  --menu-burger-transition-time: 0.5s;
  --breadcrumbs-page-current-color: var(--pallete-indigo);
  --text-xxl: 1.375rem;
  --text-xl: 1rem;
  --text-lg: 0.8125rem;
  --transition: all 0.3s;
}
